<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <form action="/users/delete/<%= user[0].id %>" method="post">
        <h1>DESEAS ELIMINAR EL USUARIO?</h1>
        <a class='btn-danger' href="/users/all">Cancelar</a>
        <input type="submit" value="Eliminar">
    </form>
</body>
</html>